.card-wrapper {
	background-color: rgb(241, 244, 243);
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 30%;
	border-radius: 10px;
	padding: 20px;
}

.card-stat {
	font-weight: 600;
	font-size: 30px;
}

.card-title {
	font-weight: 400;
}

.cards-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 0 5%;
}

.latest-date {
	font-style: italic;
	font-weight: 400;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.cases-card {
	border: 4px solid blue;
}

.recoveries-card {
	border: 4px solid rgb(0, 255, 0);
}

.deaths-card {
	border: 4px solid red;
}
